* {
  margin: 0;
  borders: none;
  font-family: Helvetica;
}

.parent_cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heading_cont {
  display: flex;
  flex-direction: column;
  justify-content: space-around;;
  align-items: center;
  background-color: lightgrey;
  height: 100px;
  width: 300px;
  padding: 10px;
  margin: 15px;
  border-radius: 20px;
}

.feedback_cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  height: 24px;
  font-size: 20px;
  width: 40px;
  text-align: center;
}


.btn {
  background: #4f5152;
  background-image: -webkit-linear-gradient(top, #4f5152, #a8a3a8);
  background-image: -moz-linear-gradient(top, #4f5152, #a8a3a8);
  background-image: -ms-linear-gradient(top, #4f5152, #a8a3a8);
  background-image: -o-linear-gradient(top, #4f5152, #a8a3a8);
  background-image: linear-gradient(to bottom, #4f5152, #a8a3a8);
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  font-family: Arial;
  color: #ffffff;
  font-size: 18px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}

.btn:hover {
  background: #090a0a;
  background-image: -webkit-linear-gradient(top, #090a0a, #63696e);
  background-image: -moz-linear-gradient(top, #090a0a, #63696e);
  background-image: -ms-linear-gradient(top, #090a0a, #63696e);
  background-image: -o-linear-gradient(top, #090a0a, #63696e);
  background-image: linear-gradient(to bottom, #090a0a, #63696e);
  text-decoration: none;
}

.tracker {
  font-size: 25px;
  margin: 10px 0;
}

.guessedLetters {
  font-size: 25px;
  margin: 10px 0;
}

.feedback {
  font-size: 30px;
  margin: 10px 0;
  font-weight: bolder;
}

.mistakesLeft {
  font-size: 20px;
  margin: 10px 0;
}


.body {
  width: 500px;
  height: 500px;
  positon: absolute;
}

.body div {
  visibility: hidden;
}

#head {
  position: relative;
  border-radius: 50%;
  background-color: tan;
  width: 80px;
  height: 80px;
  left: 220px;
  margin: 0;
}

#neck {
  position: relative;
  background-color: tan;
  width: 30px;
  height: 40px;
  left: 245px;
  margin: 0;
  top: -15px;
}

/*.midSection {
  position: absolute;
  width: 500px;
  height: 180px;
  margin: 0;
}*/

#torso {
  position: relative;
  width: 90px;
  height: 160px;
  top: -15px;
  left: 215px;
  margin: 0;
  background-color: black;
}

#arm1 {
  position: relative;
  width: 40px;
  height: 120px;
  background-color: black;
  margin: 0;
  top: -185px;
  left: 185px;
  transform: rotate(30deg);
  border-top-left-radius: 20px;
}

#arm2 {
  position: relative;
  width: 40px;
  height: 120px;
  background-color: black;
  margin: 0;
  top: -305px;
  left: 295px;
  transform: scaleX(-1) rotate(30deg);
  border-top-left-radius: 20px;
}

#leg1 {
  position: relative;
  width: 40px;
  height: 160px;
  background-color: #036;
  top: -255px;
  left: 215px;
  margin: 0;
}

#leg2 {
  position: relative;
  width: 40px;
  height: 160px;
  background-color: #036;
  top: -415px;
  left: 265px;
  margin: 0;
}

#hang {
  position: relative;
  left: 220px;
  top: -835px;
}
